# Temporary editor and backup files
*~
.\#*
\#*#
*.swp

# Python junk
*.py[co]
/*.egg
/*.egg-info
/build
/dist
/pip-log.txt
/.coverage
/.achievements
/.tox
/nosetests.xml
/docs/_build
/docs/html
/docs/man
_build
_templates
gitflow_toimport
gitflowPlus_docs.sublime-project
gitflowPlus_docs.sublime-workspace